.container {
    width: 100%;
    min-height: 100vh;
}

.details-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .movie-poster {
    max-width: 25%;
    height: auto;
} */

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

.trailer-container {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}

.trailer-video {
    width: 100%;
    height: 315px;
}

/* .movie-id {
    width: 230px;
    margin: 20px 0 0 0;
    padding: 15px;
    border: 1px solid orangered;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}  */

ul{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-around;
    
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}
img {
    width: fit-content;
    padding: 10px 15px;
}
@media (max-width: 733px) {
    ul{
        margin: auto;
        justify-content: space-around;
        width: calc(100% - 20px); 
        
    }
    li{
        display: flex;
    }

}
@media (max-width: 520px) {
    ul{
        margin: auto;
        justify-content: space-around;
        width: calc(85% - 30px); 
        
    }
    li{
        display: flex;
        width: 50%;
    }
    img {
        width: 100%;
    }

}
@media (max-width: 280px){
    li{
        display: flex;
        width: 100%;
    }

}
