nav{
    border-bottom: 2px solid gray;
    font-size: large;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}
.logo{
    padding: 10px 20px;
}

i{
    color: #fff;
    
}
span{
    color: red;
}

.btn{
    display: flex;
    align-items: center;
    gap: 10px;

}
.btn-sign-up,
.btn-log-in{
    padding:10px 20px;
    background-color: red;
    color:#fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}
.btn-sign-up:hover,
.btn-log-in:hover {
    background-color: #E50914;
}
@media (max-width: 700px) {
    .btn-sign-up,
    .btn-log-in{
        display: none;
    }

}
@media (max-width: 500px){
    .logo{
        display: none;
    }
    .search {
        justify-content: center;
        width: 100%;
    
    }
    .btn button{
    margin-top: -13px;
    }


}
