section{
    background-image: url(../../assets/wallpaper.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    justify-content: center;
    align-items: center;
    height: 60%;
    background: rgba(0, 0, 0, 0.8);
    width: 30%;
    margin: 0 auto;
    border-radius: 8px;
}

h2 {
    padding: 5px;
    text-align: center;
    color: fff;
}

form {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.8);
}

label {
    margin-bottom: 8px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

.btn-login{
    padding: 10px;
    background-color: red;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-login:hover{
    background-color: gray;
}
@media(max-width: 500px){
    section{
        background-image:none;
        background-color: black;
    }
    .login-container {
        border: 2px solid gray;
        height: 60%;
        width: 60%;
    }

}
@media(max-width: 1000px){
    .login-container {
        width: 55%;
    }
}